{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>欢迎登录</title>
  <link rel="stylesheet" href="{%static 'css/login.css'%}">
</head>
<body>
{#  1头部#}
  <header id="head">
{#    1.1右侧#}
    <div id="head-right">

      <a href="#">首页</a>
    </div>
{#    1.2右侧#}
    <div id="head-left">
      <img src="{%static 'images/LOGO.png'%}">
    </div>
    <div id='place'></div>

  </header>
{#2中间内容#}
  <nav id="contain">
{#    2.1右侧的登录窗口#}
    <div id="contain-right">

    </div>
{#    2.2左侧#}
    <div id="contain-left">

    </div>
  </nav>
{#3底部#}
  <footer id="foot">

  </footer>
</body>
</html>